


label {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #222;
    
}


input {
    padding: 8px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input::placeholder {
    font-size: 1em;
    font-weight: lighter;
    color: #999;
}


.farmerUserName {
   
    margin-left: 1%;
    font-weight: bold;
    font-size: 15px;
}

.name,
.farmerUserName
 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.name,
.farmerUserName {
    width: 100%;
}

.password {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: bold;
}



