.container {
    margin-top: auto;

}

.quote {
    margin-top: 10px;
    text-align: center;
}



.Label{
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 0.5em;
    font-weight: bold;
}


.button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box_value {
    padding: 2px 2px;
}

.userName {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Product {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quantity {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quotePrice {
    width: 100%;
    display: flex;
    flex-direction: column;
}