.container {
    width: 80%;

}

.quote {
    margin-top: 10px;
    text-align: center;
}



.Label{
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 0.5em;
    font-weight: bold;
}


.button {
    text-align: center;
    margin-top:20px;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 50px;
}

.box_value {
    padding: 2px 2px;
}

.userName {
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.Product {
    width: 90%;
    display: flex;
    border-width: thin;
    flex-direction: column;
}

.quantity {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.quotePrice {
    width: 90%;
    display: flex;
    flex-direction: column;
}